.about-me{
	height: 100vh;
	display: flex;
	background-color: white;
	position: relative;
}

.about-text {
	align-self: center;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.about-text p {
	font-size: 16px;
}
