/*.interests{
	height: 100vh;
	display: flex;
	background-color: white;
	position: relative;
}

.interests-text {
	align-self: center;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}*/

.interests-text p {
	font-size: 14px;
}

.int-sect {
	min-height: 200px;
}

.interests {
	background-color: #C40C60;
	color: white;
}