@media (min-width: 300px) {
	.intro-text p {
		font-size: 12px;
	}
}

@media (min-width: 600px) {
	.intro-text p {
		font-size: 18px;
	}
}

@media (min-width: 800px) {
	.intro-text p {
		font-size: 24px;
	}
}

@media (min-width: 1200px) {
	.intro-text p {
		font-size: 30px;
	}
}

.intro{
	background-image: url("../images/1.png");
	height: 100vh;
	background-size: cover;
	display: flex;
}

.intro-text {
	align-self: center;
	margin-right: auto;
	margin-left: auto;
}



