.sc {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.p-community {
	background-image: url("../images/PokeBnT - Community.png");

}

.p-landing {
	background-image: url("../images/PokeBnT - Landing.png");
}

.p-pokedex {
	background-image: url("../images/PokeBnT - Pokedex.png");
}

.p-pokemon-details {
	background-image: url("../images/PokeBnT - Pokemon Details.png");
}

.p-team {
	background-image: url("../images/PokeBnT - Team.png");
}

.pokebnt {
	background-color: #C40C60;
	color: white;
}

@media screen and (min-width: 300px) {
	.sc {
	    height: 120px;
	}
}

@media (min-width: 600px) {
	.sc {
	    height: 140px;
	}
}

@media (min-width: 800px) {
	.sc {
	    height: 160px;
	}
}

@media (min-width: 1200px) {
	.sc {
	    height: 200px;
	}
}
