@media (max-width: 600px) {
  .demo a {
    display: none;
  }
}

@media (min-width: 600px) {
  .demo a {
    position: absolute;
    bottom: 0;
    height: 55px;
    color: white;
    text-decoration: none;
    opacity: 0.4;
    transition: opacity .3s;
    font-size: 40px;
    left: 48%;
  }

  .demo a:hover {
    opacity: 1;
  }
}
