@import url("intro.css");
@import url("scroll.css");
@import url("about-me.css");
@import url("interests.css");
@import url("projects.css");
@import url("pokebnt.css");


body {
	font-family: "Open-Sans";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Anton";
	letter-spacing: 0.3em;
	font-size: 80px;
	line-height: 1.2em;
}

.d-all {
	background-image: url("../images/DCME - All Surveys.png");
}

.d-answers {
	background-image: url("../images/DCME - Answer Screen.png");
}

.d-answer {
	background-image: url("../images/DCME - Individual Answers.png");
}

.d-participants {
	background-image: url("../images/DCME - Participants.png");
}

.d-questions {
	background-image: url("../images/DCME - Question Graph.png");
}

.d-share {
	background-image: url("../images/DCME - Share Link.png");
}

