body{
	background-color: rgba(0, 0, 210, 0.2);
	font-family: "Open-Sans";
}

h1, h2, h3, h4, h5, h6{
	font-family: "Helvetica";
	line-height: 1.5em;
}

.container{
	background-color: white;
	width: 900px;
	border-radius: 5px;
	opacity: 0.8;
	padding-bottom: 20px;
	line-height: 1.2em;
}