body {
	background-color: rgba(0, 0, 210, 0.2);
	font-family: "Open-Sans";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica";
	line-height: 1.5em;
}

.white-background{
	background-color: white;
/*	width: 900px;*/
	border-radius: 5px;
	opacity: 0.8;
	padding-bottom: 20px;
	line-height: 1.2em;
}


.poke-community {
	background-image: url("images/PokeBnT - Community.png");
	background-size: cover;
	background-repeat: no-repeat;
    height: 280px;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.poke-landing {
	background-image: url("images/PokeBnT - Landing.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.poke-pokedex {
	background-image: url("images/PokeBnT - Pokedex.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.poke-pokemon-details {
	background-image: url("images/PokeBnT - Pokemon Details.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.poke-team {
	background-image: url("images/PokeBnT - Team.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.dcme-all {
	background-image: url("images/DCME - All Surveys.png");
	background-size: cover;
	background-repeat: no-repeat;
    height: 280px;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.dcme-answers {
	background-image: url("images/DCME - Answer Screen.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.dcme-answer {
	background-image: url("images/DCME - Individual Answers.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.dcme-participants {
	background-image: url("images/DCME - Participants.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.dcme-questions {
	background-image: url("images/DCME - Question Graph.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

.dcme-share {
	background-image: url("images/DCME - Share Link.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8);
}

